@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {

  --accent: #E45C5C;

  --light: #FBFBFB;
  --light-off: #ECECEC;
  --light-off-lighter: #F5F5F5;
  --light-rgba: 251, 251, 251;
  --light-off-rgba: 236, 236, 236;

  --dark: #171717;
  --dark-off: #2C2C2C;
  --dark-off-darker: #1e1e1e;
  --dark-rgba: 23, 23, 23;
  --dark-off-rgba: 44, 44, 44;

}

:root {

  --primary: var(--light);
  --primary-off: var(--light-off);
  --primary-off-2: var(--light-off-lighter);
  --primary-rgba: var(--light-rgba);

  --secondary: var(--dark);
  --secondary-off: var(--dark-off);
  --secondary-off-2: var(--dark-off-darker);
  --secondary-rgba: var(--dark-rgba);

}

@media (prefers-color-scheme: dark) {
  :root {

    --primary: var(--dark);
    --primary-off: var(--dark-off);
    --primary-off-2: var(--dark-off-darker);
    --primary-rgba: var(--dark-rgba);

    --secondary: var(--light);
    --secondary-off: var(--light-off);
    --secondary-off-2: var(--light-off-lighter);
    --secondary-rgba: var(--light-rgba);

  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Manrope',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
