@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* semantic color variables for this project */
:root {
  --white: #E4E4E4;
  --black: #141414;
  --background: #E4E4E4;
  --primary: #F2F1F6;
  --onPrimary: #808080;
  --outline: #D2D2D2;
  --inversePrimary: #141414;
  --onBackground: #979797;
  --highlight:#E45C5C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --primary: #141414;
    --onPrimary: #807F87;
    --outline: #222222;
    --inversePrimary: #E4E4E4;
    --onBackground: #464646;
    --highlight:#E45C5C;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Manrope',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
