@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--highlight);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--highlight);
    color: var(--white);
  }
}

html {
  overflow-x: hidden;
}

* {
  z-index: 1;
}