@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
}

a.white-link {
  color: var(--light);
  text-decoration: underline;
}

@media (hover: hover) {
  a:not(.chevron-button):hover {
    background-color: var(--accent);
    color: var(--light);
  }
}

html {
  overflow-x: hidden;
}

* {
  z-index: 1;
}

::selection {
  background: var(--accent);
  color: var(--light);
}

p {
  max-width: 50ch;
  text-align: justify;
}